/* avoid scrollbar changing positions */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex-grow: 1;
}

.bgblur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
